extends layout

block content
  h1 Hello, there!
    h2 This is some content
    p The popup will open in five seconds
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
    script(src='http://www.jacklmoore.com/colorbox/jquery.colorbox.js')
    script.
      function openColorBox(){
      $.colorbox({iframe:true, width:"80%", height:"80%", href: "http://www.sitepoint.com"});
      }
      setTimeout(openColorBox, 5000);
