doctype html
html
  head
    title= title
    meta(http-equiv='Content-Type', content='text/html; charset=iso-8859-1')
    title Live Demo :: Onload popup using jquery,javascript,css,html
    link(href='style.css', rel='stylesheet', type='text/css')
  body
    block content


   