doctype html
html
  body
    h1(style='color:blue;') This is a Blue Heading
    a(href='bitcoin:1ArmoryXcfq7TnCSuZa9fQjRYwJ4bkRKfv?amount=1.0&label=Armory%20Donation%20Address&message=Donation%20to%20Armory') Pay to view content
